@{
    ViewData["Title"] = "Contribute";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<div class="col-md-6 text-center container mt-4">
    <h3>Submission of Datasets to PIDAR</h3>
    <p>To submit new datasets, please download the template, fill in all the requested metadata and then send the file by reaching out to us. If there are no further requests for clarifications or correction, the dataset will be added to the repository. A detailed description for filling in the template is provided in the “Submission guidelines” document.</p>

    <p>Since we aim to have the PIDAR repository that adheres to the FAIR principles, we strongly recommend that submitters make their datasets available under a license that is as open as possible (e.g. CC-BY). Further information about type of licenses are available in the “Submission Guidelines” document.</p>

    <div class="mt-3">
        <a href="/contribution_files/metadata_template.xlsx" id="download-template" class="btn btn-primary">Download Template</a>
        <a href="/contribution_files/guidelines.docx" id="download-guidelines" class="btn btn-secondary">Download Guidelines</a>
    </div>
</div>