@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid text-center p-0">
    <div id="sfondo" class="d-flex justify-content-center align-items-start">
        <img src="images/Sfondo.png" class="img-fluid" alt="Background Image">
    </div>
</div>





